@inject IImageService _imageService
@{
    bool showCode = ViewData["ShowCode"] as bool? ?? false;
}
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">

                        @if (User.IsInRole("Admin") && (showCode == true))
                        {
                            <div class="author-info">
                                <h1 class="title p-3"><span>Admin Area</span></h1>
                            </div>
                            <div class="media-body d-flex flex-column align-items-center">
                                @if (Model.IsPublished == false)
                                {
                                    <a class="w-75 btn btn-outline-success"
                                       asp-action="Publish" asp-controller="BlogPosts" asp-route-id="@Model.Id" asp-route-sourceView="Details">Publish</a>
                                }
                                else
                                {
                                    <a class="w-75 btn btn-outline-success"
                                       asp-action="Unpublish" asp-controller="BlogPosts" asp-route-id="@Model.Id" asp-route-sourceView="Details">Unpublish</a>
                                }
                                <a class="w-75 btn btn-outline-warning"
                                   asp-action="Edit" asp-controller="BlogPosts" asp-route-id="@Model.Id" asp-route-sourceView="Details">Edit </a>
                                @if (Model.IsDeleted == false)
                                {
                                    <a class="w-75 btn btn-outline-danger"
                                       asp-action="Delete" asp-controller="BlogPosts" asp-route-id="@Model.Id" asp-route-sourceView="Details">Delete</a>
                                }
                                else
                                {
                                    <a class="w-75 btn btn-outline-danger"
                                       asp-action="Undelete" asp-controller="BlogPosts" asp-route-id="@Model.Id" asp-route-sourceView="Details">Undelete</a>
                                }
                            </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="thumbnail m-2 col col-12 col-md-4 text-center">
                                    <a>
                                        <img src="~/img/headshot.png" alt="Author Images" class="author_image">
                                    </a>
                                </div>
                                <div class="media-body col col-12 col-md-8">
                                    <div class="author-info">
                                        <h1 class="title text-center">Glenn Schwartz</h1>
                                        <span class="b3 subtitle text-center">Software Developer</span>
                                    </div>
                                    <div class="content">
                                        <p class="b1 description">Here you will find posts I wrote detailing the steps I've taken as a web developer to learn and create new things. All in a blog platform put together by me!</p>
                                        <ul class="social-share-transparent size-md">
                                            <li><a href="https://github.com/Relliumachine42"><i class="fab fa-github"></i></a></li>
                                            <li><a href="mailto:glennschwartz42@gmail.com"><i class="far fa-envelope"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/glenn-schwartz/"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="https://schwartz-portfolio.netlify.app/"><i class="fas fa-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>