@model IEnumerable<OnTheBlog.Models.Category>
@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <p class="pt-3">
        <a class="axil-button button-rounded btn-primary mb-5" asp-action="Create">New Category</a>

    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Icon
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                <tr>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.Description
                    </td>
                    <td>
                 
                        <img class="rounded-circle" src="@_imageService.ConvertByteArrayToFile(category.ImageData, category.ImageType, DefaultImage.CategoryImage)" alt="category image">

                    </td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>